@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
:root {
  --body__background: #fff;
  --app__background: rgba(197, 197, 197, 0.753);
  --text__color: black;
  --input__bg: #121212;
}

[data-theme="dark"] {
  --body__background: #121212;
  --app__background: #1f1b24;
  --text__color: white;
  --input__bg: #121212;
}

* {
  transition: background-color 0.6s ease-in-out;
}
